@import "tailwindcss";

/* Estilos personalizados */
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
  font-size: 0.85rem;
}