---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';

// Video URL
import videoTesla from '../videos/video.webm';
---

<Layout title="Tesla Chile">

  <section class="bg-black h-screen w-screen text-center overflow-hidden relative">
    <header class="z-30 relative">
      <h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
      <p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
    </header>

    <a href="/contacto"
       class="fixed bottom-10 left-1/2 -translate-x-1/2 bg-transparent border border-white text-white font-semibold px-6 py-3 rounded-lg transition hover:bg-white hover:text-black z-50">
      Prueba de conducción
    </a>

    <!-- Video -->
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
      <Video src={videoTesla} class="object-cover w-full h-full" />
    </div>
  </section>

</Layout>
