---

---

<footer> 
  <div class="footer-bottom">
    <p>© Tesla 2025 - 
      <a href="/">Inicio</a> - 
      <a href="/about">Nosotros</a> - 
      <a href="/blog">Blog</a> - 
      <a href="/contacto">Contacto</a>
    </p>
  </div>
</footer>